/*RESET*/
html, body, main, section, button, header, div, nav,a, h1, p{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Above the fold container*/

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*Above the fold styling*/

header{
    font-family: Roboto, sans-serif;
    width: 100%;
    background-color: rgba(245, 245, 245);
    display: flex;
    align-items: center;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray;

}
header nav{
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo{
    padding: 0 20px;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}
.nav-btn{
    font-size: 0.8rem;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}
.nav-btn:hover{
    background-color: rgb(245, 244, 120);

}
#main-image{
    background-image: url("../Images/adventure-lg.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#call-for-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#call-for-action h1{
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px 0;
}
#call-for-action a{
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    background-color: #313131;
    color: whitesmoke;
    width: 120px;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
    margin-bottom: 50px;
}
#call-for-action a:hover{
    background-color: #4aa6fa;
}

#images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img {
    /*equal margin left and right*/
    margin: 40px auto;
}

/*formatting text below images*/

#deal-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#deal-details h1{
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1.5rem;
}
#deal-details p{
    font-family: "Roboto", sans-serif;
    color: #565656;
    font-weight: 100;
    margin: 10px 0;
    font-size: 1rem;
}
article {
    padding: 5px;
}
p a{
color: blue;
}

/*footer styling*/

footer{
    font-family: Roboto, sans-serif;
    font-size: 0.7rem;
    background-color: #313131;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    color: #9d9d9d;

}
/*bottom menu styling*/

#bottom-menu nav{
    display: flex;
    flex-flow: column wrap;
}
#bottom-menu a{
    background-color: rgb(245, 245, 245);
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 1px solid #b6b4b4;
    padding: 10px;
}
#bottom-menu a:hover{
    background-color: rgb(245, 244, 120);
}

/*Media Queries*/
@media (max-width: 400px) {
    img{
        /*fits the images in their container when viewed on mobile*/
        width: 300px;
    }
}
@media (max-width: 500px) {
    header{
        height: 3rem;
    }
    .nav-btn {
        /*top menu not displayed on mobile*/
        display: none;
    }
    .logo{
        width: 100%;
        margin-top: 25px;
        justify-content: center;
    }
}
@media (max-width: 850px){
    #images{
        /*images in one row*/
        grid-template-columns: 1fr;
    }
}
@media (max-width: 960px) {
    header{
        height: 5rem;
        flex-direction: column;
    }
    header nav{
        display: flex;
        width: 100%;
    }
    .nav-btn{
        width: 100%;
    }
}
@media(min-width: 501px) {
    #bottom-menu a {
        /*bottom menu not displayed for larger devices*/
        display: none;
    }
}

